body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-top: 4em;
}

.website-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 15em);
    gap: 10px;
    height: 45%;
    width: 80%
}

.center {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.horizontal-rect {
    grid-column: span 2 / auto;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
    border: 3px black solid;
}

a:visited {
    color: inherit;
}

a div {
    background-color: rgba(100,100,100,0.7);
}

/* Website Icons */

.google {
    background: url("icon_imgs/google_preview.png");
    background-size: cover;
}

.sketch {
    background: url("icon_imgs/sketchboard.png");
    background-size: cover;
}

.calc {
    background: url("icon_imgs/calc.png");
    background-size: cover;
}

.rps {
    background: url("icon_imgs/rps.png");
    background-size: cover;
}

.mun {
    background: url("icon_imgs/mun.png");
    background-size: cover;
}